
@{
    ViewData["Title"] = "AddingInforamtion";
}

<form method="post"
       data-ajax="true"
      data-ajax-update="#res"
      data-ajax-method="post"
      data-ajax-mode="replace"
    >
    <input type="file" name="file" id="file">
    <input type="submit" />
</form>
<div id="res">
</div>